*{
    margin: 0px;
    padding: 10px;
}

body{
    background-color: #041322;
    font-size: 32px;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
/*    	height: 100vh;*/
    	margin: 0;
    	color: white;
    	transition: background 0.3s linear;
}

.calculator{
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 20px white;
    width:53%;
    margin-left: 15%;
}
table{
    background-color:transparent;
}

input[type="text"]{
    width:79%;
    padding:40px;
    border-radius: 15px 10px 0px 0px;
    font-size:24px;
}
input[type="text"]:hover{
    background-color:transparent;
    border: 5px solid white;
    color: white;
}

td{
    padding:0px;
}
#clear{
    color:red;
}
button{
    background-image: linear-gradient(45deg, white, orange, orange, orange);
    font-size:24px;
    padding:40px;
    width:100%;
    border-radius:15px;
    text-shadow: 3px 2px dimgrey;
    font-weight: bold;
}

button:hover{
    background-image: linear-gradient(45deg, white, orange);
}

.numberButton{
    background-image: linear-gradient(45deg, #ffa60569, #fdb305, orange);
    color:black;
    text-shadow: 3px 3px transparent;
}
.numberButton:hover{
    background-image: linear-gradient(-45deg, #ffa60569, #fdb305, orange);
    color:black;
}
#equal{
    font-size: 48px;
    padding: 26px;
    font-weight: bold;
}
